// Header
header.header
  .container
    #search.search
      form(action="#!").search__form
        input.search__input(type="text" placeholder="Поиск товара")
        button(type="button").search__close.j-btn-search
        button(type="submit").search__submit
    .header__wrapper
      .logo
        a(href="#!") 
          img(src="./images/logo.svg", width="120", height="31", alt="").svg-inline
      .div2
        .header__navigation
          if lk === true
            button(type="button" data-id="catalog-navigation").btn-catalog.--lk.j-btn Каталог
              span  сайта
              i.icon-carret-down
          else
            button(type="button" data-id="catalog-navigation").btn-catalog.j-btn Каталог
              span  сайта
              i.icon-carret-down
          ul(role="tablist")
            li: a(id="home-tab1" data-toggle="tab" href="#menu1" role="tab" aria-controls="menu1" aria-selected="false") Текстить
            li: a(id="home-tab2" data-toggle="tab" href="#menu2" role="tab" aria-controls="menu2" aria-selected="false") Мебель
            li: a(id="home-tab3" data-toggle="tab" href="#menu3" role="tab" aria-controls="menu3" aria-selected="false") Аксессуары
            li: a(id="home-tab4" data-toggle="tab" href="#menu4" role="tab" aria-controls="menu4" aria-selected="false") Свет
            li: a(id="home-tab5" data-toggle="tab" href="#menu5" role="tab" aria-controls="menu5" aria-selected="false") Посуда
      .header__phone
        a(href="tel:") 8 (495) 
          b 532-87-72
      .header__links
        button(type="button").btn-search.j-btn-search
        a(href="#!").btn-favourite
        button(type="button" data-id="cart").btn-cart.j-btn
        button(type="button" data-id="enter").btn-user.j-btn
        button(type="button" data-id="menu").btn-burger.j-btn

.header-holder

#menu.navigation.j-btn-target
  button(type="button" data-id="menu").btn-close.j-btn
  .navigation__wrapper
    .navigation__wrapper-body
      .navigation__body
        nav(role="navigation").menu
          ul
            li: a(href="#!") Доставка 
            li: a(href="#!") Оплата 
            li: a(href="#!") Как заказать 
            li: a(href="#!") О компании
            li: a(href="#!") Контакты 
            li: a(href="#!") Акции 
            li: a(href="#!") Новости 
            li: a(href="#!") Статьи 
            li: a(href="#!") Отзывы 
            li: a(href="#!") Партнерам
            li: a(href="#!") Проекты
        .navigation__about MAISON - это новый проект, который собрал в себе лучшие бренды со всего мира и многолетний опыт работы в сфере дизайна интерьера.
      .navigation__contacts
        .div1
          div
            a(href="tel:") 8 (495) 
              b 532-87-72
          div
            a(href="mailto:") shop@maison-home.ru
        .div2
          .navigation__social
            a(href="#!" target="_blank") 
              i.icon-social-instagram
            a(href="#!" target="_blank") 
              i.icon-social-facebook

#enter.navigation.j-btn-target
  button(type="button" data-id="enter").btn-close.j-btn
  .navigation__wrapper
    .navigation__wrapper-body
      .navigation__body
        .navigation__title Вход на сайт
        form(action="" autocomplete="off") 
          fieldset 
            .form-group
              +field-text({
                title: '',
                hasJs: false,
                isTextarea: false,
                hasError: false,
                helpText: '',
                mods: '',
                val: '',
                attrs: {
                  name: 'login',
                  placeholder: 'Логин',
                  required: true
                }
              })
            .form-group
              +field-text({
                title: '',
                hasJs: false,
                isTextarea: false,
                hasError: false,
                helpText: '',
                mods: '',
                val: '',
                attrs: {
                  name: 'password',
                  placeholder: 'Пароль',
                  required: true
                }
              })
          .form-group.--mb10
            button(type="submit").btn.--block Войти на сайт
          .text-center
            button(type="button" data-id="recovery").link.--fs14.j-btn Забыли пароль?
            hr
            p.--mb0.--fs14 Еще не зарегистрированные на сайте?
            button(type="button" data-id="register").link.--fs14.text-uppercase.--no-udernline.j-btn
              b Зарегистрироваться
      .navigation__contacts
        .div1
          div
            a(href="tel:") 8 (495) 
              b 532-87-72
          div
            a(href="mailto:") shop@maison-home.ru
        .div2
          .navigation__social
            a(href="#!" target="_blank") 
              i.icon-social-instagram
            a(href="#!" target="_blank") 
              i.icon-social-facebook

#register.navigation.j-btn-target
  button(type="button" data-id="register").btn-close.j-btn
  .navigation__wrapper
    .navigation__wrapper-body
      .navigation__body
        .navigation__title Регистрация на сайте
        form(action="" autocomplete="off") 
          fieldset 
            .form-group
              +field-text({
                title: '',
                hasJs: false,
                isTextarea: false,
                hasError: false,
                helpText: '',
                mods: '',
                val: '',
                attrs: {
                  name: 'email',
                  placeholder: 'Email',
                  required: true
                }
              })
            .form-group
              +field-text({
                title: '',
                hasJs: false,
                isTextarea: false,
                hasError: false,
                helpText: '',
                mods: '',
                val: '',
                attrs: {
                  name: 'password',
                  placeholder: 'Пароль',
                  required: true
                }
              })
            .form-group
              +field-text({
                title: '',
                hasJs: false,
                isTextarea: false,
                hasError: false,
                helpText: '',
                mods: '',
                val: '',
                attrs: {
                  name: 'password',
                  placeholder: 'Повторите пароль',
                  required: true
                }
              })
          .form-group
            button(type="submit").btn.--block зарегистрироваться
          .text-center
            p.--mb0.--fs14 Уже зарегистрированные на сайте?
            button(type="button" data-id="enter").link.--fs14.text-uppercase.--no-udernline.j-btn
              b Войти на сайт
      .navigation__contacts
        .div1
          div
            a(href="tel:") 8 (495) 
              b 532-87-72
          div
            a(href="mailto:") shop@maison-home.ru
        .div2
          .navigation__social
            a(href="#!" target="_blank") 
              i.icon-social-instagram
            a(href="#!" target="_blank") 
              i.icon-social-facebook

#recovery.navigation.j-btn-target
  button(type="button" data-id="recovery").btn-close.j-btn
  .navigation__wrapper
    .navigation__wrapper-body
      .navigation__body
        .navigation__title Восстановление
        form(action="" autocomplete="off") 
          fieldset 
            .form-group
              +field-text({
                title: '',
                hasJs: false,
                isTextarea: false,
                hasError: false,
                helpText: '',
                mods: '',
                val: '',
                attrs: {
                  name: 'email',
                  placeholder: 'Email',
                  required: true
                }
              })
          .form-group
            button(type="submit").btn.--block Войти на сайт
          .text-center
            p.--mb0.--fs14 Вспомнили доступы?
            button(type="button" data-id="enter").link.--fs14.text-uppercase.--no-udernline.j-btn
              b Войти на сайт
      .navigation__contacts
        .div1
          div
            a(href="tel:") 8 (495) 
              b 532-87-72
          div
            a(href="mailto:") shop@maison-home.ru
        .div2
          .navigation__social
            a(href="#!" target="_blank") 
              i.icon-social-instagram
            a(href="#!" target="_blank") 
              i.icon-social-facebook

#cart.navigation.j-btn-target
  button(type="button" data-id="cart").btn-close.j-btn
  .navigation__wrapper
    .navigation__wrapper-body
      .navigation__body.--mb0
        .navigation__title Ваша корзина
        form(action="" autocomplete="off") 
          fieldset 
            .cart-row
              .cart-row__title Кашпо круглое (черное с бронзой) 
              .cart-row__wrapper
                .div1
                  button(type="button").cart-row__close
                .div2
                  a(href="#!") 
                    img(src="./tmp/cart-small-img.png", alt="").cart-row__img
                .div3
                  .cart-row__price 56 778 
                    i.icon-rouble
            .cart-row
              .cart-row__title Кашпо круглое (черное с бронзой) Кашпо круглое (черное с бронзой) 
              .cart-row__wrapper
                .div1
                  button(type="button").cart-row__close
                .div2
                  a(href="#!") 
                    img(src="./tmp/cart-small-img.png", alt="").cart-row__img
                .div3
                  .cart-row__price 56 778 
                    i.icon-rouble
            .cart-row
              .cart-row__title Кашпо круглое (черное с бронзой) 
              .cart-row__wrapper
                .div1
                  button(type="button").cart-row__close
                .div2
                  a(href="#!") 
                    img(src="./tmp/cart-small-img.png", alt="").cart-row__img
                .div3
                  .cart-row__price 56 778 
                    i.icon-rouble
            .clear30
          .form-group
            button(type="submit").btn.--block Оформить заказ

#catalog-navigation.catalog-navigation.j-btn-target
  .catalog-navigation__wrapper
    .catalog-navigation__body
      nav.nav
        ul.nav(role="tablist")
          li: a.active(id="home-tab1" data-toggle="tab" href="#menu1" role="tab" aria-controls="menu1" aria-selected="true") Текстить
          li: a(id="home-tab2" data-toggle="tab" href="#menu2" role="tab" aria-controls="menu2" aria-selected="false") Мебель
          li: a(id="home-tab3" data-toggle="tab" href="#menu3" role="tab" aria-controls="menu3" aria-selected="false") Аксессуары
          li: a(id="home-tab4" data-toggle="tab" href="#menu4" role="tab" aria-controls="menu4" aria-selected="false") Свет
          li: a(id="home-tab5" data-toggle="tab" href="#menu5" role="tab" aria-controls="menu5" aria-selected="false") Посуда
      #menu1(role="tabpanel" aria-labelledby="home-tab1").tab-pane.active
        nav
          p 1
      #menu2(role="tabpanel" aria-labelledby="home-tab2").tab-pane
        nav
          p 2
      #menu3(role="tabpanel" aria-labelledby="home-tab3").tab-pane
        nav
          ul
            li: a(href="#!") ФАРФОР
            li
              a(href="#!") СЕРВИРОВКА СТОЛА
              ul
                li
                  a(href="#!") СТОЛОВЫЕ ПРИБОРЫ
            li: a(href="#!") СЕРВИЗЫ СТОЛОВЫЕ
            li: a(href="#!") СЕРВИЗЫ ЧАЙНЫЕ
            li: a(href="#!") СЕРВИЗЫ КОФЕЙНЫЕ
            li: a(href="#!") БОКАЛЫ
            li: a(href="#!") КРУЖКИ
            li: a(href="#!") КУВШИНЫ
            li: a(href="#!") ВЕДРА ДЛЯ ЛЬДА
            li: a(href="#!") САЛАТНИКИ
            li: a(href="#!") ПОДНОСЫ
            li: a(href="#!") ДЕКАНТЕРЫ
            li: a(href="#!") МЕНАЖНИЦЫ/СОУСНИКИ
            li: a(href="#!") ТАРЕЛКИ
            li: a(href="#!") ЧАЙНИКИ
            li: a(href="#!") ЕМКОСТИ
      #menu4(role="tabpanel" aria-labelledby="home-tab4").tab-pane
        nav
          p 4
      #menu5(role="tabpanel" aria-labelledby="home-tab5").tab-pane
        nav
          p 5