doctype

html(lang="ru")

  -var active = 'Бренды' //активный пункт меню, список в header.jade
  -var pageTitle = 'Бренды' + ' - Эксклюзивный магазин MAISON' //title страницы для генерации верстки
  -var lk = false

  include ./_include/_head

  body
    .base
      // Preloader
      include ./_include/_preloader

      include ./_include/_header

      // Top img
      .top-img
        img(src="./tmp/top-img-1.png", alt="").top-img__bg
        .top-img__wrapper
          .container

            h1 Только самые лучшие бренды
            +breadcrumbs()
              +breadcrumbs-item('Эксклюзивный магазин MAISON', './index.html')
              +breadcrumbs-item('Название раздела', '#!')
              +breadcrumbs-item('Название страницы')

      // Content
      .content
        .container

          // Brands
          .brands
            .brands__row
              div
                a(href="#!").brands__link
                  span.line.--top
                  span.line.--right
                  span.line.--bottom
                  span.line.--left
                  span.span
                  img(src="./tmp/main-choice-logo-1.png", width="152", height="152", alt="")
              div
                a(href="#!").brands__link
                  span.line.--top
                  span.line.--right
                  span.line.--bottom
                  span.line.--left
                  span.span
                  img(src="./tmp/main-choice-logo-2.png", width="152", height="152", alt="")
              div
                a(href="#!").brands__link
                  span.line.--top
                  span.line.--right
                  span.line.--bottom
                  span.line.--left
                  span.span
                  img(src="./tmp/main-choice-logo-3.png", width="152", height="152", alt="")
              div
                a(href="#!").brands__link
                  span.line.--top
                  span.line.--right
                  span.line.--bottom
                  span.line.--left
                  span.span
                  img(src="./tmp/main-choice-logo-4.png", width="152", height="152", alt="")
              div
                a(href="#!").brands__link
                  span.line.--top
                  span.line.--right
                  span.line.--bottom
                  span.line.--left
                  span.span
                  img(src="./tmp/main-choice-logo-5.png", width="152", height="152", alt="")
              div
                a(href="#!").brands__link
                  span.line.--top
                  span.line.--right
                  span.line.--bottom
                  span.line.--left
                  span.span
                  img(src="./tmp/main-choice-logo-6.png", width="152", height="152", alt="")
              div
                a(href="#!").brands__link
                  span.line.--top
                  span.line.--right
                  span.line.--bottom
                  span.line.--left
                  span.span
                  img(src="./tmp/main-choice-logo-1.png", width="152", height="152", alt="")
              div
                a(href="#!").brands__link
                  span.line.--top
                  span.line.--right
                  span.line.--bottom
                  span.line.--left
                  span.span
                  img(src="./tmp/main-choice-logo-2.png", width="152", height="152", alt="")
              div
                a(href="#!").brands__link
                  span.line.--top
                  span.line.--right
                  span.line.--bottom
                  span.line.--left
                  span.span
                  img(src="./tmp/main-choice-logo-3.png", width="152", height="152", alt="")
              div
                a(href="#!").brands__link
                  span.line.--top
                  span.line.--right
                  span.line.--bottom
                  span.line.--left
                  span.span
                  img(src="./tmp/main-choice-logo-4.png", width="152", height="152", alt="")
              div
                a(href="#!").brands__link
                  span.line.--top
                  span.line.--right
                  span.line.--bottom
                  span.line.--left
                  span.span
                  img(src="./tmp/main-choice-logo-5.png", width="152", height="152", alt="")
              div
                a(href="#!").brands__link
                  span.line.--top
                  span.line.--right
                  span.line.--bottom
                  span.line.--left
                  span.span
                  img(src="./tmp/main-choice-logo-6.png", width="152", height="152", alt="")
            +pagination()
              +pagination-item('1', '#!')
              +pagination-item('2', '#!')
              +pagination-item('3', '', true)
              +pagination-item('4', '#!')
              +pagination-item('5', '#!')
          // /end Brands

      // /end Content

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js?v21")

