doctype

html(lang="ru")

  -var active = 'Каталог текстиля' //активный пункт меню, список в header.jade
  -var pageTitle = 'Каталог текстиля' + ' - Эксклюзивный магазин MAISON' //title страницы для генерации верстки
  -var lk = false

  include ./_include/_head

  body
    .base
      // Preloader
      include ./_include/_preloader

      include ./_include/_header

      // Top img
      .top-img.--thin
        img(src="./tmp/top-img-1.png", alt="").top-img__bg
        .top-img__wrapper
          .container

            h1 Каталог текстиля
            +breadcrumbs()
              +breadcrumbs-item('Эксклюзивный магазин MAISON', './index.html')
              +breadcrumbs-item('Название раздела', '#!')
              +breadcrumbs-item('Название страницы')

      // Content
      .content
        .container

          // Category
          .category
            .category__row
              .category__block
                .category__block-btn
                .category__block-wrapper
                  .category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/category-img-1.png", alt="")
                  .category__block-title Пледы
                    small 1 200 позиций
              .category__block
                .category__block-btn
                .category__block-wrapper
                  .category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/category-img-2.png", alt="")
                  .category__block-title Домашняя одежда
                    small 1 200 позиций
              .category__block
                .category__block-btn
                .category__block-wrapper
                  .category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/category-img-3.png", alt="")
                  .category__block-title Постельное болье
                    small 1 200 позиций
              .category__block
                .category__block-btn
                .category__block-wrapper
                  .category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/category-img-4.png", alt="")
                  .category__block-title Подушки
                    small 1 200 позиций
              .category__block
                .category__block-btn
                .category__block-wrapper
                  .category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/category-img-5.png", alt="")
                  .category__block-title Одеяла
                    small 1 200 позиций
              .category__block
                .category__block-btn
                .category__block-wrapper
                  .category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/category-img-6.png", alt="")
                  .category__block-title Покрывала
                    small 1 200 позиций
              .category__block
                .category__block-btn
                .category__block-wrapper
                  .category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/category-img-7.png", alt="")
                  .category__block-title Полотенца
                    small 1 200 позиций
              .category__block
                .category__block-btn
                .category__block-wrapper
                  .category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/category-img-8.png", alt="")
                  .category__block-title Коврики для ванной
                    small 1 200 позиций
              .category__block
                .category__block-btn
                .category__block-wrapper
                  .category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/category-img-9.png", alt="")
                  .category__block-title Скатерти
                    small 1 200 позиций
              .category__block
                .category__block-btn
                .category__block-wrapper
                  .category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/category-img-10.png", alt="")
                  .category__block-title Салфетки
                    small 1 200 позиций
              .category__block
                .category__block-btn
                .category__block-wrapper
                  .category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/category-img-11.png", alt="")
                  .category__block-title Дорожки на стол
                    small 1 200 позиций
              .category__block
                .category__block-btn
                .category__block-wrapper
                  .category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/category-img-12.png", alt="")
                  .category__block-title Декоративные подушки
                    small 1 200 позиций
          // /end Category

          .row.justify-content-center
            .col-12.col-lg-10
              .content__document.--pb0
                h2 Элитный текстиль из США и Европы в шоурумах MAISON
                p В MAISONпредставлена самая большая коллекция элитной американской мебели в Москве. В нашем каталоге вы найдете продукцию ведущих брендов США и Европы: Ralph Lauren Home, Baker Furniture, Barbara Barry, Kelly Wearstler, Century, Sherrill Furniture, Chelini, Moissonnier, Fornasetti и др. 
                p 
                  b Американская мечта Ralph Lauren Home 
                p Один из самых выдающихся современных дизайнеров, обладатель титула Командора Британской империи, американец Ральф Лорен более 30 лет производит предметы интерьера под торговой маркой Ralph Lauren Home. О своей мебели сам дизайнер когда-то ёмко сказал: "Я продаю мечту". текстиль от Ральфа Лорена изготовляется вручную, по старинным технологиям, из самых дорогих натуральных материалов, при этом марка не забывает об экологии и принципах устойчивого производства (sustainability). Аристократичная, шикарная текстиль Ralph Lauren украшает интерьеры домов знаменитостей и сильных мира сего по всему миру. В России она пользуется неизменным спросом благодаря сочетанию безупречного качества и выразительного дизайна.  
                p текстиль Ralph Lauren Home создается по эскизам самого Ральфа, при этом дизайнер тщательно контролирует все этапы производства. Пожалуй, никто не умеет так виртуозно комбинировать элементы стилей различных эпох, смешивать английскую классику с голливудским шиком, создавая современные интерьеры для жизни на все времена.  

      // /end Content

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js?v3")

