doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Эксклюзивный магазин MAISON' //title страницы для генерации верстки

  include ./_include/_head

  body
    .base
      // Preloader
      include ./_include/_preloader

      include ./_include/_header

      // Main blocks
      .main-blocks
        .main-blocks__carousel
          img(src="./tmp/main-big-img.png", alt="").img-fluid
          img(src="./tmp/main-big-img-2.png", alt="").img-fluid
          img(src="./tmp/main-big-img.png", alt="").img-fluid
          img(src="./tmp/main-big-img-2.png", alt="").img-fluid
          img(src="./tmp/main-big-img.png", alt="").img-fluid
        .main-blocks__bottom
          h1 Изысканные решения
            small под самый требовательный вкус
        .main-blocks__list
          a(href="#!").main-blocks__list-img
            img(src="./tmp/main-blocks-img-1.png", alt="")
            span.span
              span Шелковая коллекция Beauty Sleep 
              b Бьюти тренд 2020
          a(href="#!").main-blocks__list-img
            img(src="./tmp/main-blocks-img-2.png", alt="")
            span.span
              span Salt&Pepper tableweare goes RAWW!
              b by Australian
          a(href="#!").main-blocks__list-img
            img(src="./tmp/main-blocks-img-3.png", alt="")
            span.span
              span Подвесной светильник Calle Terzani
              b Bella in Italiano
      // /end Main blocks

      // Content
      .content.--pt0.--pb0
        
        // Main category
        .main-category
        // /end Main category

        // Main video
        .main-video
          .main-video__block
            img(src="./tmp/main-video-img.png", alt="").main-video__block-img
            a(href="https://www.youtube.com/watch?v=0-7IHOXkiV8" data-fancybox).main-video__play
          .main-video__bottom
            .container
              .main-video__bottom-icon
              .main-video__bottom-content 
                div MAISON - это новый проект, который собрал в себе лучшие бренды со всего мира и многолетний опыт работы в сфере дизайна интерьера. 
        // /end Main video

        // Main catalog
        .main-catalog
          .container
            .main-catalog__title
              div
                .main-catalog__title-shadow
                  div Must Have 
                .main-catalog__title-div Совершенство в каждой детали
        // /end Main catalog

        // Main about
        .main-about
          img(src="./tmp/main-about-img.png", alt="").main-about__img
          .container
            .main-about__logo
              img(src="./images/logo.svg", width="149" alt="").svg-inline
            .main-about__content
              p MAISON - это новый проект, который собрал в себе лучшие бренды со всего мира и многолетний опыт работы в сфере дизайна интерьера. Мы создали не просто магазин или дизайн-студию - мы создали абсолютно новую концепцию работы с клиентом, ориентированную на его потребности. Выбор подарка для близкого человека, подбор аксессуаров и мебели для дома или комплектация "под ключ" - специалисты MAISON проконсультируют по всем вопросам.
        // /end Main about

        // Main choice
        .main-choice
          .container
            .main-choice__title
              div
                .main-choice__title-shadow
                  div The best choice
                .main-choice__title-div Лучший выбор
            .main-choice__top
              .div1
                
                .main-choice__content
                  p Каждый предмет в MAISON имеет право носить звание "Лучший выбор" - мы очень тщательно подходим к вопросу выбора фабрик, которые представленны у нас. Мы работаем с производителями, а значит, готовы предложить Вам лучшую цену.  При этом мы работаем не только с брендами, имена которых, говорят сами за себя, но и, с удовольствием открываем для Вас новые "имена", не уступающие по качеству и дизайну.
              .div2
                .main-choice__carousel
                  img(src="./tmp/main-choice-img.png", width="296", height="151", alt="")
                  img(src="./tmp/main-choice-img-2.png", width="296", height="151", alt="")
                  img(src="./tmp/main-choice-img.png", width="296", height="151", alt="")
                  img(src="./tmp/main-choice-img-2.png", width="296", height="151", alt="")
            .main-choice__bottom
              .main-choice__carousel2
                a(href="#!").main-choice__link
                  span.span
                  img(src="./tmp/main-choice-logo-1.png", width="152", height="152", alt="")
                a(href="#!").main-choice__link
                  span.span
                  img(src="./tmp/main-choice-logo-2.png", width="152", height="152", alt="")
                a(href="#!").main-choice__link
                  span.span
                  img(src="./tmp/main-choice-logo-3.png", width="152", height="152", alt="")
                a(href="#!").main-choice__link
                  span.span
                  img(src="./tmp/main-choice-logo-4.png", width="152", height="152", alt="")
                a(href="#!").main-choice__link
                  span.span
                  img(src="./tmp/main-choice-logo-5.png", width="152", height="152", alt="")
                a(href="#!").main-choice__link
                  span.span
                  img(src="./tmp/main-choice-logo-6.png", width="152", height="152", alt="")
        // /end Main choice

      // /end Content

      include ./_include/_footer
      div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

    script().
      $(document).ready(function(){
        $('.header').addClass('--main');
      })

