doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Эксклюзивный магазин MAISON' //title страницы для генерации верстки
  -var lk = false

  include ./_include/_head

  body
    .base
      // Preloader
      include ./_include/_preloader

      include ./_include/_header

      // Main blocks
      .main-blocks
        .main-blocks__carousel
          img(src="./tmp/main-big-img.png", alt="").img-fluid
          img(src="./tmp/main-big-img-2.png", alt="").img-fluid
          img(src="./tmp/main-big-img.png", alt="").img-fluid
          img(src="./tmp/main-big-img-2.png", alt="").img-fluid
          img(src="./tmp/main-big-img.png", alt="").img-fluid
        .main-blocks__bottom
          h1 Изысканные решения
            small под самый требовательный вкус
        .main-blocks__list
          a(href="#!").main-blocks__list-img
            img(src="./tmp/main-blocks-img-1.png", alt="")
            span.span
              span Шелковая коллекция Beauty Sleep 
              b Бьюти тренд 2020
          a(href="#!").main-blocks__list-img
            img(src="./tmp/main-blocks-img-2.png", alt="")
            span.span
              span Salt&Pepper tableweare goes RAWW!
              b by Australian
          a(href="#!").main-blocks__list-img
            img(src="./tmp/main-blocks-img-3.png", alt="")
            span.span
              span Подвесной светильник Calle Terzani
              b Bella in Italiano
      // /end Main blocks

      // Content
      .content.--pt0.--pb0
        
        // Main category
        .main-category
          .container
            .main-category__row
              .main-category__block.--first
                .main-category__block-btn
                .main-category__block-shadow Lighting
                .main-category__block-wrapper
                  .main-category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/main-catalog-img-1.png", alt="")
                  .main-category__block-title Свет
                    small 430 позиций
              .main-category__block.--two
                .main-category__block-btn
                .main-category__block-shadow Furniture
                .main-category__block-wrapper
                  .main-category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/main-catalog-img-3.png", alt="")
                  .main-category__block-title Мебель
                    small 560 позиций
              .main-category__block.--three
                .main-category__block-btn
                .main-category__block-shadow Textile
                .main-category__block-wrapper
                  .main-category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/main-catalog-img-2.png", alt="")
                  .main-category__block-title Текстиль
                    small 1 200 позиций
              .main-category__block.--four
                .main-category__block-btn
                .main-category__block-shadow Accessories
                .main-category__block-wrapper
                  .main-category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/main-catalog-img-4.png", alt="")
                  .main-category__block-title Аксессуары
                    small 820 позиций
              .main-category__block.--last
                .main-category__block-btn
                .main-category__block-shadow Tableware
                .main-category__block-wrapper
                  .main-category__block-thumb
                    a(href="#!") 
                      img(src="./tmp/main-catalog-img-5.png", alt="")
                  .main-category__block-title Посуда
                    small 230 позиций
        // /end Main category

        // Main video
        .main-video
          #mainVideoBlock.main-video__block
            img(src="./tmp/main-video-img.png", alt="").main-video__block-img
            iframe(width='560' height='315' src='https://www.youtube.com/embed/0-7IHOXkiV8?enablejsapi=1' frameborder='0' allowfullscreen)#mainVideo.main-video__block-img
            .video-play
              .video-play__mask
                .video-play__text.--progress
                  i.icon-play
              .video-play__text.--preload
                i.icon-play
          .main-video__bottom
            .container
              .main-video__bottom-icon
                .video-play
                  .video-play__mask
                    .video-play__text.--progress
                      i.icon-play
                  .video-play__text.--preload
                    i.icon-play
              .main-video__bottom-content 
                div MAISON - это новый проект, который собрал в себе лучшие бренды со всего мира и многолетний опыт работы в сфере дизайна интерьера. 
        // /end Main video

        // Main catalog
        .main-catalog
          .container
            .main-catalog__title
              div
                .main-catalog__title-shadow
                  div Must Have 
                .main-catalog__title-div Совершенство в каждой детали
            // Catalog
            .catalog
              .row.catalog__row
                .col-12.col-sm-6.col-lg-4.col-xl-3
                  .catalog__block
                    .catalog__block-label -50
                      small %
                    .catalog__block-thumb
                      a(href="#!") 
                        img(src="./tmp/catalog-img-1.png", alt="")
                      button(type="button").btn Подробнее
                    .catalog__block-title Диван (ткань - ёлочка, ножки- темная бронза)
                    .catalog__block-price
                      div
                        b 165 627
                          i.icon-rouble
                        button(type="button")
                          i.icon-plus-bold
                          | В корзину
                .col-12.col-sm-6.col-lg-4.col-xl-3
                  .catalog__block
                    .catalog__block-thumb
                      a(href="#!") 
                        img(src="./tmp/catalog-img-2.png", alt="")
                      button(type="button").btn Подробнее
                    .catalog__block-title Стеллаж для книг
                    .catalog__block-price
                      div
                        b 52 325
                          i.icon-rouble
                        button(type="button")
                          i.icon-plus-bold
                          | В корзину
                .d-none.d-sm-block.col-sm-6.col-lg-4.col-xl-3
                  .catalog__block
                    .catalog__block-thumb
                      a(href="#!") 
                        img(src="./tmp/catalog-img-3.png", alt="")
                      button(type="button").btn Подробнее
                    .catalog__block-title Ваза Lamina
                    .catalog__block-price
                      div
                        b 52 325
                          i.icon-rouble
                        button(type="button")
                          i.icon-plus-bold
                          | В корзину
                .d-none.d-sm-block.col-sm-6.col-lg-4.col-xl-3
                  .catalog__block
                    .catalog__block-thumb
                      a(href="#!") 
                        img(src="./tmp/catalog-img-4.png", alt="")
                      button(type="button").btn Подробнее
                    .catalog__block-title Кашпо круглое (черное с бронзой) 
                    .catalog__block-price
                      div
                        b 528 857
                          i.icon-rouble
                        button(type="button")
                          i.icon-plus-bold
                          | В корзину
                .d-none.d-lg-block.col-lg-4.col-xl-3
                  .catalog__block
                    .catalog__block-thumb
                      a(href="#!") 
                        img(src="./tmp/catalog-img-5.png", alt="")
                      button(type="button").btn Подробнее
                    .catalog__block-title Прикроватный столик Ayton
                    .catalog__block-price
                      div
                        b 23 654
                          i.icon-rouble
                        button(type="button")
                          i.icon-plus-bold
                          | В корзину
                .d-none.d-lg-block.col-lg-4.col-xl-3
                  .catalog__block
                    .catalog__block-thumb
                      a(href="#!") 
                        img(src="./tmp/catalog-img-6.png", alt="")
                      button(type="button").btn Подробнее
                    .catalog__block-title Люстра Signature by Barbara Barry
                    .catalog__block-price
                      div
                        b 84 352
                          i.icon-rouble
                        button(type="button")
                          i.icon-plus-bold
                          | В корзину
                .d-none.d-xl-block.col-xl-3
                  .catalog__block
                    .catalog__block-thumb
                      a(href="#!") 
                        img(src="./tmp/catalog-img-7.png", alt="")
                      button(type="button").btn Подробнее
                    .catalog__block-title Прикроватный столик Cannes
                    .catalog__block-price
                      div
                        b 66 454
                          i.icon-rouble
                        button(type="button")
                          i.icon-plus-bold
                          | В корзину
                .d-none.d-xl-block.col-xl-3
                  .catalog__block
                    .catalog__block-thumb
                      a(href="#!") 
                        img(src="./tmp/catalog-img-8.png", alt="")
                      button(type="button").btn Подробнее
                    .catalog__block-title Барный шкаф Dillon Cabinet
                    .catalog__block-price
                      div
                        b 99 199
                          i.icon-rouble
                        button(type="button")
                          i.icon-plus-bold
                          | В корзину
                      
            // /end Catalog
        // /end Main catalog

        // Main about
        .main-about
          img(src="./tmp/main-about-img.png", alt="").main-about__img
          .container
            .main-about__logo
              img(src="./images/logo.svg", width="149" alt="").svg-inline
            .main-about__content
              p MAISON - это новый проект, который собрал в себе лучшие бренды со всего мира и многолетний опыт работы в сфере дизайна интерьера. Мы создали не просто магазин или дизайн-студию - мы создали абсолютно новую концепцию работы с клиентом, ориентированную на его потребности. Выбор подарка для близкого человека, подбор аксессуаров и мебели для дома или комплектация "под ключ" - специалисты MAISON проконсультируют по всем вопросам.
        // /end Main about

        // Main choice
        .main-choice
          .container
            .main-choice__title
              div
                .main-choice__title-shadow
                  div The best choice
                .main-choice__title-div Лучший выбор
            .main-choice__carousel
              .main-choice__top
                .div1
                  .main-choice__content
                    p Каждый предмет в MAISON имеет право носить звание "Лучший выбор" - мы очень тщательно подходим к вопросу выбора фабрик, которые представленны у нас. Мы работаем с производителями, а значит, готовы предложить Вам лучшую цену.  При этом мы работаем не только с брендами, имена которых, говорят сами за себя, но и, с удовольствием открываем для Вас новые "имена", не уступающие по качеству и дизайну.
                .div2
                  .main-choice__carousel
                    img(src="./tmp/main-choice-img.png", width="296", height="151", alt="")
              .main-choice__top
                .div1
                  .main-choice__content
                    p Каждый предмет в MAISON имеет право носить звание "Лучший выбор" - мы очень тщательно подходим к вопросу выбора фабрик, которые представленны у нас. Мы работаем с производителями, а значит, готовы предложить Вам лучшую цену.
                .div2
                  .main-choice__carousel
                    img(src="./tmp/main-choice-img-2.png", width="296", height="151", alt="")
              .main-choice__top
                .div1
                  .main-choice__content
                    p Каждый предмет в MAISON имеет право носить звание "Лучший выбор" - мы очень тщательно подходим к вопросу выбора фабрик, которые представленны у нас. Мы работаем с производителями, а значит, готовы предложить Вам лучшую цену.  При этом мы работаем не только с брендами, имена которых, говорят сами за себя, но и, с удовольствием открываем для Вас новые "имена", не уступающие по качеству и дизайну.
                .div2
                  .main-choice__carousel
                    img(src="./tmp/main-choice-img.png", width="296", height="151", alt="")
              .main-choice__top
                .div1
                  .main-choice__content
                    p Каждый предмет в MAISON имеет право носить звание "Лучший выбор" - мы очень тщательно подходим к вопросу выбора фабрик, которые представленны у нас. Мы работаем с производителями, а значит, готовы предложить Вам лучшую цену.
                .div2
                  .main-choice__carousel
                    img(src="./tmp/main-choice-img-2.png", width="296", height="151", alt="")
            .main-choice__bottom
              .main-choice__carousel2
                a(href="#!").main-choice__link
                  span.span
                  img(src="./tmp/main-choice-logo-1.png", width="152", height="152", alt="")
                a(href="#!").main-choice__link
                  span.span
                  img(src="./tmp/main-choice-logo-2.png", width="152", height="152", alt="")
                a(href="#!").main-choice__link
                  span.span
                  img(src="./tmp/main-choice-logo-3.png", width="152", height="152", alt="")
                a(href="#!").main-choice__link
                  span.span
                  img(src="./tmp/main-choice-logo-4.png", width="152", height="152", alt="")
                a(href="#!").main-choice__link
                  span.span
                  img(src="./tmp/main-choice-logo-5.png", width="152", height="152", alt="")
                a(href="#!").main-choice__link
                  span.span
                  img(src="./tmp/main-choice-logo-6.png", width="152", height="152", alt="")
        // /end Main choice

      // /end Content

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js?v20")

    script().
      $(document).ready(function(){
        $('.header').addClass('--main');
      })
      // global variable for the player
      var player;

      // this function gets called when API is ready to use
      function onYouTubePlayerAPIReady() {
          // create the global player from the specific iframe (#video)
          player = new YT.Player('mainVideo', {
              events: {
                  // call this function when player is ready to use
                  'onReady': onPlayerReady
              }
          });
      }

      function onPlayerReady(event) {

          // bind events
          var playButton = document.getElementById("mainVideoBlock");
          playButton.addEventListener("click", function() {
              player.playVideo();
              playButton.classList.add('is-active');
          });
          
      }

      // Inject YouTube API script
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

