doctype

html(lang="ru")

  -var active = 'Новости' //активный пункт меню, список в header.jade
  -var pageTitle = 'Новости' + ' - Эксклюзивный магазин MAISON' //title страницы для генерации верстки

  include ./_include/_head

  body
    .base
      // Preloader
      include ./_include/_preloader

      include ./_include/_header

      // Top img
      .top-img
        img(src="./tmp/top-img-1.png", alt="").top-img__bg
        .top-img__wrapper
          .container

            h1 Новости
            +breadcrumbs()
              +breadcrumbs-item('Эксклюзивный магазин MAISON', './index.html')
              +breadcrumbs-item('Название раздела', '#!')
              +breadcrumbs-item('Название страницы')

      // Content
      .content
        .container

          // News
          .news
            .news__head
              .news__sort
                label Категория:
                .news__select
                  select.niceSelect
                    option(value="Все материалы") Все материалы
                    option(value="Текстиль") Текстиль
                    option(value="Мебель") Мебель
                  
              .news__sort.--limit
                label Выводить по:
                .news__select
                  select.niceSelect
                    option(value='18', selected='selected') 18
                    option(value='36') 36
                    option(value='64') 64
                    option(value='96') 96
                    option(value='Все') Все
            #grid.row
              .col-12.col-md-6.col-lg-4
                .news__block
                  .news__block-thumb
                    a(href="#!") 
                      img(src="./tmp/news-img-1.png", alt="")
                  .news__block-category Текстиль
                  .news__block-title
                    a(href="#!") The Rug Company x Fashion Designer Mary Katrantzou
                  .news__block-info 
                    span Иванова Екатерина
                    span 30 Декабря, 2020
              .col-12.col-md-6.col-lg-4
                .news__block
                  .news__block-thumb
                    a(href="#!") 
                      img(src="./tmp/news-img-2.png", alt="")
                  .news__block-category Текстиль
                  .news__block-title
                    a(href="#!") Weaving Ancient Craft into Contemporary Design
                  .news__block-info 
                    span Иванова Екатерина
                    span 30 Декабря, 2020
              .col-12.col-md-6.col-lg-4
                .news__block
                  .news__block-thumb
                    a(href="#!") 
                      img(src="./tmp/news-img-3.png", alt="")
                  .news__block-category Текстиль
                  .news__block-title
                    a(href="#!") The Rug Company x Fashion Designer Mary Katrantzou
                  .news__block-info 
                    span Иванова Екатерина
                    span 30 Декабря, 2020
              .col-12.col-md-6.col-lg-4
                .news__block
                  .news__block-thumb
                    a(href="#!") 
                      img(src="./tmp/news-img-4.png", alt="")
                  .news__block-category Текстиль
                  .news__block-title
                    a(href="#!") Weaving Ancient Craft into Contemporary Design
                  .news__block-info 
                    span Иванова Екатерина
                    span 30 Декабря, 2020
              .col-12.col-md-6.col-lg-4
                .news__block
                  .news__block-thumb
                    a(href="#!") 
                      img(src="./tmp/news-img-5.png", alt="")
                  .news__block-category Текстиль
                  .news__block-title
                    a(href="#!") The Rug Company x Fashion Designer Mary Katrantzou
                  .news__block-info 
                    span Иванова Екатерина
                    span 30 Декабря, 2020
              .col-12.col-md-6.col-lg-4
                .news__block
                  .news__block-thumb
                    a(href="#!") 
                      img(src="./tmp/news-img-6.png", alt="")
                  .news__block-category Текстиль
                  .news__block-title
                    a(href="#!") Weaving Ancient Craft into Contemporary Design
                  .news__block-info 
                    span Иванова Екатерина
                    span 30 Декабря, 2020
            +pagination()
              +pagination-item('1', '#!')
              +pagination-item('2', '#!')
              +pagination-item('3', '', true)
              +pagination-item('4', '#!')
              +pagination-item('5', '#!')
          // /end News

      // /end Content

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

