doctype

html(lang="ru")

  -var active = 'Результат поиска' //активный пункт меню, список в header.jade
  -var pageTitle = 'Результат поиска' + ' - Эксклюзивный магазин MAISON' //title страницы для генерации верстки
  -var lk = false

  include ./_include/_head

  body
    .base
      // Preloader
      include ./_include/_preloader

      include ./_include/_header

      // Top img
      .top-img.--thin
        img(src="./tmp/top-img-1.png", alt="").top-img__bg
        .top-img__wrapper
          .container

            h1 Поиск товаров
            +breadcrumbs()
              +breadcrumbs-item('Эксклюзивный магазин MAISON', './index.html')
              +breadcrumbs_dropdown
              +breadcrumbs-item('Название страницы')

      // Content
      .content
        .container

          +search_block

          .no-search-result
            .div
              .h2 К сожалению, по вашему запросу не найдено товаров
              p Проверьте правильность написания названия товара или измените поисковый запрос

      // /end Content

      include ./_include/_footer
      //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js?v23")

