/* modules */
.content {
  padding: 70px 0;
  &__document {
    overflow: hidden;
    padding-bottom: 70px;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
  &__img {
    overflow: hidden;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: {
        image: $bg-dot;
        position: 0 0;
        repeat: repeat;
      };
    }
    img {
      height: 160px;
      width: 100%;
      object-fit: cover;
    }
  }
  @include media-breakpoint-up(md) {
    padding-bottom: 100px;
    &__img {
      img {
        height: 220px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__img {
      img {
        height: 354px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    padding-bottom: 120px;
    padding-top: 100px;
    &__img {
      img {
        height: 498px;
      }
    }
  }
}

.top-img {
  position: relative;
  overflow: hidden;
  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    content: '';
    background: linear-gradient(180deg, #302F33 0%, rgba(48, 47, 51, 0.7) 100%);
  }
  &__wrapper {
    height: 193px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 25;
    text-align: center;
    &::before, &::after {
      content: '';
      width: 74px;
      height: 74px;
      position: absolute;
      left: 0;
      bottom: -1px;
      background: {
        image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEoAAABKCAYAAAAc0MJxAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEeSURBVHgB7dtBagJREEXR1yEhkLVkESErybbNyJEjBUERRaWtrxu4k3Ig90Bt4DZ/9OhpnufP9LlO03TJC3iv+06fXd1/XsBbhBgKMhRkKMhQkKEgQ0GGggwFGQoyFGQoyFCQoSBDQYaCDAUZCjIUZCjIUJChoDFXfaXPuXk3vKvt8JRmI9Rv+mzqPtKsPsaiYu3TyKcHGQoyFGQoyFCQoSBDQYaCDAUZCjIUZCjIUJChIENBhoIMBRkKMhRkKMhQkKEgQ0Fj1/tJn1Ue2163Q2172zTqDrXMc35sHB+jc/H26VGGggwFGQoyFGQoyFCQoSBDQYaCDAUZCjIUZCjIUJChIENBhoIMBRkKMhRkKGjMVX/pc6xbpN+67pBGN87xIJkC2gOSAAAAAElFTkSuQmCC');
        position: 0 0;
        repeat: no-repeat;
      };
    }
    &::after {
      left: auto;
      right: 0;
      top: 0;
      bottom: auto;
      background: {
        image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEoAAABKCAYAAAAc0MJxAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAENSURBVHgB7dmxCQJBEEbhufU6MLMJweDAHrQNu7UBezASlAP3Vkt4yUz0vg7mwUT/tCzLPpL1Tz9Egb6b0m6Z1/V7jmSttVtUGOMaSVoIMRRkKMhQkKEgQ0GGggwFGQoyFGQoyFCQoSBDQYaCDAUZCjIUZCjIUJChIENB8xjxjmxtvKJC4i1TFDgeT5co0CJvP/T1IENBhoIMBRkKMhRkKMhQkKEgQ0GGggwFGQoyFGQoyFCQoSBDQYaCDAUZCjIUZChojhL9EQX+Y+49kpQMoFUyh1ZfDzIUZCjIUJChIENBhoIMBRkKMhRkKMhQkKEgQ0GGggwFGQoyFGQoyFCQoSBDQUW7Xo1tG89I8gM50xzViy+KAwAAAABJRU5ErkJggg==');
      }
    }
    &>.container {
      position: relative;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  h1, .h1 {
    color: $color-white;
  }
  @include media-breakpoint-up(lg) {
    &__wrapper {
      height: 250px;
    }
  }
  @include media-breakpoint-up(xl) {
    &__wrapper {
      height: 300px;
    }
  }
  @include media-breakpoint-up(xxl) {
    &__wrapper {
      height: 400px;
    }
  }
}

.form {
  background: $primary-color;
  color: $color-white;
  padding: 24px 30px 30px 30px;
  max-width: 1010px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  &__legend {
    color: $color-white;
  }
  .btn {
    max-width: 330px;
    margin: 0 auto;
  }
  .field-checkbox {
    max-width: 310px;
    margin-bottom: 27px;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: -90px;
    padding: 24px 40px 34px 40px;
    &__wrapper {
      display: flex;
      &>* {
        &:first-child {
          width: 240px;
          flex-shrink: 0;
          margin-right: 20px;
        }
        &:last-child {
          flex-grow: 1;
        }
      }
    }
    textarea {
      max-height: 160px;
    }
    &__bottom {
      display: flex;
      align-items: center;
      margin-top: -5px;
      &>* {
        &:first-child {
          flex-grow: 1;
        }
        &:last-child {
          flex-shrink: 0;
        }
      }
      .form-group {
        margin-bottom: 0;
      }
    }
    .field-checkbox {
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-up(lg) {
    padding: 38px 50px 34px 50px;
    &__wrapper {
      display: flex;
      &>* {
        &:first-child {
          width: 310px;
        }
      }
    }
    .field-checkbox {
      max-width: inherit;
    }
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: -217px;
  }
  @include media-breakpoint-up(xxl) {
    margin-bottom: -290px;
  }
}

.insta {
  margin-bottom: 70px;
  position: relative;
  overflow: hidden;
  &-carousel {
    background: $primary-color;
    .slick-slide {
      width: 173px;
      img {
        width: 100%;
        height: 173px;
        object-fit: cover;
        display: block;
        transform: translateX(-50%);
      }
    }
  }
  &__block {
    width: 100%;
    position: absolute;
    height: 0;
    &-block {
      position: absolute;
      width: 173px;
      height: 173px;
      background: $primary-color;
      left: 50%;
      transform: translateX(-100%);
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-white;
      text-align: center;
      font-size: 12px;
      text-transform: uppercase;
      i {
        font-size: 50px;
        margin: 0 auto 8px;
        display: block;
      }
      a {
        text-decoration: none;
        color: $color-white;
      }
      &>div {
        margin-bottom: 10px;
      }
    }
  }
  &__btns {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    button {
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      position: absolute;
      left: 50%;
      margin-top: -50px;
      cursor: pointer;
      &::before {
        font-family: $font-icomoon;
      }
    }
    &-left {
      transform: translateX(0%);
      background: $primary-color;
      color: $color-white;
      &::before {
        content: '\e901';
      }
    }
    &-right {
      color: $primary-color;
      background: $color-white;
      transform: translateX(-100%);
      &::before {
        content: '\e902';
      }
    }
  }
  @include media-breakpoint-up(md) {
    &-carousel {
      .slick-slide {
        width: 200px;
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
    &__block {
      &-block {
        font-size: 14px;
        width: 200px;
        height: 200px;
        i {
          font-size: 75px;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 100px;
    &-carousel {
      .slick-slide {
        width: 237px;
        img {
          width: 237px;
          height: 237px;
        }
      }
    }
    &__block {
      &-block {
        font-size: 20px;
        width: 237px;
        height: 237px;
        i {
          margin-bottom: 11px;
        }
        &>div {
          margin-bottom: 0;
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 120px;
    &-carousel {
      .slick-slide {
        width: 320px;
        img {
          width: 320px;
          height: 320px;
        }
      }
    }
    &__block {
      &-block {
        font-size: 20px;
        width: 320px;
        height: 320px;
        i {
          font-size: 125px;
          margin-bottom: 22px;
        }
        a {
          opacity: 1;
          transition: all 0.35s;
          &:hover {
            opacity: 0.3;
          }
        }
      }
    }
    &__btns {
      button {
        transition: all 0.35s;
      }
      &-left {
        &:hover {
          color: $primary-color;
          background: $color-white;
        }
      }
      &-right {
        &:hover {
          background: $primary-color;
          color: $color-white;
        }
      }
    }
  }
}

.main-blocks {
  position: relative;
  background-color: $primary-color;
  &__bottom {
    background: $primary-color;
    text-align: center;
    padding: 20px 25px 24px 25px;
    h1, .h1 {
      color: $color-white;
      margin: 0;
      font-size: 26px;
      font-family: $font-playfair;
      line-height: 1.2;
      letter-spacing: 0.05em;
      small {
        font-family: $font-oswald;
        font-size: 18px;
        display: block;
        line-height: 1.5;
        letter-spacing: 0.1em;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    background: $primary-color;
    &-img {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: $color-white;
      padding: 30px 15px 25px 15px;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.05em;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: $primary-color;
        opacity: 0.6;
        transition: all 0.35s;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: none;
        object-position: center;
      }
      .span {
        position: relative;
        z-index: 10;
        max-width: 160px;
        b {
          display: block;
          font-size: 20px;
          font-weight: 200;
        }
      }
      &:hover {
        color: $color-white;
        &::before {
          opacity: 0.8;
        }
      }
    }
  }
  &__carousel {
    position: relative;
    overflow: hidden;
    &.slick-dotted {
      margin: 0;
    }
    .slick-dots {
      left: auto;
      width: 50px;
      right: 30px;
      top: 0;
      bottom: 0;
      transform: none;
      color: $color-white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;
      li {
        padding: 0;
        margin: 0 0 10px 0;
        width: 100%;
        height: auto;
        font-weight: bold;
        &::before {
          display: none;
        }
        &>.span {
          font-size: 0;
          transition: all 0.35s;
          display: block;
          overflow: hidden;
          &::after {
            content: '';
            height: 2px;
            width: 35px;
            background: #929292;
            display: block;
            transition: all 0.35s;
            margin-right: 0;
            margin-left: auto;
          }
          &>span {
            display: block;
            line-height: 0px;
            margin: 0;
            transition: all 0.35s;
          }
        }
        &.slick-active {
          &>.span {
            &::after {
              width: 50px;
              background: $color-white;
            }
            span {
              line-height: 20px;
              margin-bottom: 5px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    &__bottom {
      h1, .h1 {
        font-size: 35px;
        small {
          letter-spacing: 0.2em;
        }
      }
    }
    &__list {
      &-img {
        img {
          object-fit: cover;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    &__list {
      flex-direction: row;
      &>* {
        width: 33.3%;
      }
      &-img {
        min-height: 121px;
        .span {
          max-width: 160px;
        }
      }
    }
    &__bottom {
      position: absolute;
      background: 0 0;
      top: 110px;
      left: 15px;
      right: 15px;
      padding-left: 0;
      padding-right: 0;
      h1, .h1 {
        font-size: 40px;
        small {
          font-size: 20px;
          margin-top: 5px;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__list {
      &-img {
        min-height: 161px;
        font-size: 14px;
        .span {
          max-width: 211px;
          b {
            font-size: 26px;
          }
        }
      }
    }
    &__bottom {
      top: 160px;
      h1, .h1 {
        font-size: 50px;
        small {
          font-size: 25px;
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__list {
      &-img {
        min-height: 200px;
        font-size: 18px;
        .span {
          max-width: 260px;
          b {
            font-size: 30px;
          }
        }
      }
    }
    &__bottom {
      top: 175px;
      left: 50px;
      right: 50px;
      h1, .h1 {
        font-size: 70px;
        small {
          font-size: 30px;
          margin-top: 7px;
        }
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    &__list {
      &-img {
        min-height: 300px;
        font-size: 25px;
        .span {
          max-width: 398px;
          b {
            font-size: 40px;
          }
        }
      }
    }
    &__bottom {
      top: 230px;
      h1, .h1 {
        font-size: 110px;
        small {
          font-size: 45px;
          margin-top: 10px;
        }
      }
    }
  }
}

.main-about {
  position: relative;
  padding-top: 50px;
  padding-bottom: 30px;
  color: $color-white;
  font-size: 16px;
  overflow: hidden;
  text-align: center;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: {
      image: $bg-dot;
      position: 0 0;
      repeat: repeat;
    };
  }
  &::after {
    background: linear-gradient(90.09deg, rgba(37, 36, 38, 0) 0.06%, rgba(37, 36, 38, 0.75) 47.79%);
    z-index: 1;
  }
  &__img {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  &>.container {
    position: relative;
    z-index: 10;
  }
  &__logo {
    margin-bottom: 20px;
    img, svg {
      width: 150px;
      height: 40px;
    }
  }
  &__content {
    letter-spacing: 0.05em;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    padding-top: 55px;
    padding-bottom: 40px;
    font-size: 18px;
  }
  @include media-breakpoint-up(md) {
    text-align: right;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 20px;
    &__logo {
      img, svg {
        width: 238px;
        height: 63px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    font-size: 20px;
    &__content {
      max-width: 710px;
      margin-left: auto;
      margin-right: 0;
    }
  }
  @include media-breakpoint-up(xl) {
    min-height: 557px;
    display: flex;
    align-items: center;
    font-size: 22px;
    &__logo {
      margin-bottom: 45px;
      img, svg {
        width: 280px;
        height: 74px;
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    min-height: 750px;
    font-size: 24px;
    &__logo {
      margin-bottom: 55px;
      img, svg {
        width: 342px;
        height: 91px;
      }
    }
    &__content {
      max-width: 850px;
    }
  }
}

.main-choice {
  position: relative;
  padding-top: 55px;
  padding-bottom: 40px;
  font-size: 18px;
  &__top {
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    &>div {
      &.div2 {
        padding-right: 50px;
      }
    }
  }
  &__bottom {
    border-top: 1px solid rgba($primary-color,.1);
    padding-top: 40px;
  }
  &__title {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 17px;
    text-align: center;
    &-shadow {
      display: none;
    }
    &-div {
      letter-spacing: 0.1em;
    }
    &>div {
      display: inline-block;
    }
  }
  &__content {
    margin-bottom: 35px;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__carousel {
    .slick-arrow {
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      bottom: 0;
      top: auto;
      transform: none;
      cursor: pointer;
      font-size: 0;
      left: auto;
      &::before {
        font-size: 14px;
        font-family: $font-icomoon;
        opacity: 1;
        color: currentColor;
      }
    }
    .slick-prev {
      transform: translateX(0%);
      right: -50px;
      color: $color-white;
      background: $primary-color;
      &::before {
        content: '\e901';
      }
    }
    .slick-next {
      color: $primary-color;
      background: $color-white;
      &::before {
        content: '\e902';
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &__link {
    overflow: hidden;
    background: $color-white;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 157px;
    height: 157px;
    position: relative;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
    .span {
      opacity: 0;
      visibility: hidden;
      transition: all 0.35s;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 50px;
      align-items: center;
      width: 50px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      background: $primary-color;
      &::before {
        font-size: 14px;
        font-family: $font-icomoon;
        color: $color-white;
        content: '\e902';
      }
    }
  }
  &__carousel2 {
    .slick-arrow {
      display: none;
    }
    .slick-slide {
      width: 157px;
      margin-right: 30px;
    }
  }
  @include media-breakpoint-up(sm) {
    padding-top: 88px;
    &__carousel2 {
      .slick-slide {
        width: 150px;
      }
    }
    &__link {
      width: 150px;
      height: 150px;
    }
    &__title {
      font-size: 35px;
      &>div {
        transform: translateX(-30px);
      }
      &-div {
        position: relative;
        z-index: 5;
      }
      &-shadow {
        display: block;
        font-size: 50px;
        white-space: nowrap;
        font-family: $font-playfair;
        position: absolute;
        line-height: 1;
        left: 50%;
        letter-spacing: 0.05em;
        transform: translateX(-72px) translateY(-35px);
        div {
          opacity: 0.03;
        }
        &::before {
          width: 130px;
          height: 2px;
          background: $primary-color;
          position: absolute;
          content: '';
          left: -150px;
          top: 50%;
          margin-top: -1px;
          opacity: 0.05;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    &__title {
      &-shadow {
        font-size: 60px;
        transform: translateX(-77px) translateY(-44px);
      }
      &-div {
        letter-spacing: 0.2em;
      }
    }
    &__bottom {
      padding-top: 85px;
    }
    &__link {
      height: 210px;
    }
    &__carousel2 {
      .slick-slide {
        width: 210px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 108px;
    &__title {
      margin-bottom: 25px;
    }
    &__top {
      flex-direction: row;
      &>div {
        &.div1 {
          order: 2;
          flex-grow: 1;
          padding-left: 27px;
        }
        &.div2 {
          flex-shrink: 0;
          width: 500px;
          order: 1;
        }
      }
    }
    &__content {
      margin-bottom: 0;
    }
    &__bottom {
      padding-top: 40px;
    }
    &__link {
      height: 130px;
    }
    &__carousel2 {
      .slick-slide {
        width: 130px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    padding-top: 123px;
    padding-bottom: 55px;
    font-size: 20px;
    &__carousel {
      .slick-arrow {
        transition: all 0.35s;
      }
      .slick-prev {
        &:hover {
          color: $primary-color;
          background: $color-white;
        }
      }
      .slick-next {
        &:hover {
          background: $primary-color;
          color: $color-white;
        }
      }
    }
    &__top {
      margin-bottom: 85px;
      &>div {
        &.div2 {
          width: 620px;
        }
        &.div1 {
          padding-top: 62px;
        }
      }
    }
    &__link {
      height: 170px;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0);
      margin: 20px 0;
      &:hover {
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
        .span {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &__carousel2 {
      margin: -20px 0;
      .slick-slide {
        width: 170px;
      }
    }
  }
  @include media-breakpoint-up(xxl) {}
}