/* modules */
.content {
  padding: 70px 0;
  &__document {
    overflow: hidden;
    padding-bottom: 70px;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
  &__img {
    overflow: hidden;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: {
        image: $bg-dot;
        position: 0 0;
        repeat: repeat;
      };
    }
    img {
      height: 160px;
      width: 100%;
      object-fit: cover;
    }
  }
  @include media-breakpoint-up(md) {
    padding-bottom: 100px;
    &__img {
      img {
        height: 220px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__img {
      img {
        height: 354px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    padding-bottom: 120px;
    padding-top: 100px;
    &__img {
      img {
        height: 498px;
      }
    }
  }
}

.top-img {
  position: relative;
  overflow: hidden;
  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    content: '';
    background: linear-gradient(180deg, #302F33 0%, rgba(48, 47, 51, 0.7) 100%);
  }
  &__wrapper {
    height: 193px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 25;
    text-align: center;
    &::before, &::after {
      content: '';
      width: 74px;
      height: 74px;
      position: absolute;
      left: 0;
      bottom: -1px;
      background: {
        image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEoAAABKCAYAAAAc0MJxAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEeSURBVHgB7dtBagJREEXR1yEhkLVkESErybbNyJEjBUERRaWtrxu4k3Ig90Bt4DZ/9OhpnufP9LlO03TJC3iv+06fXd1/XsBbhBgKMhRkKMhQkKEgQ0GGggwFGQoyFGQoyFCQoSBDQYaCDAUZCjIUZCjIUJChoDFXfaXPuXk3vKvt8JRmI9Rv+mzqPtKsPsaiYu3TyKcHGQoyFGQoyFCQoSBDQYaCDAUZCjIUZCjIUJChIENBhoIMBRkKMhRkKMhQkKEgQ0Fj1/tJn1Ue2163Q2172zTqDrXMc35sHB+jc/H26VGGggwFGQoyFGQoyFCQoSBDQYaCDAUZCjIUZCjIUJChIENBhoIMBRkKMhRkKGjMVX/pc6xbpN+67pBGN87xIJkC2gOSAAAAAElFTkSuQmCC');
        position: 0 0;
        repeat: no-repeat;
      };
    }
    &::after {
      left: auto;
      right: 0;
      top: 0;
      bottom: auto;
      background: {
        image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEoAAABKCAYAAAAc0MJxAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAENSURBVHgB7dmxCQJBEEbhufU6MLMJweDAHrQNu7UBezASlAP3Vkt4yUz0vg7mwUT/tCzLPpL1Tz9Egb6b0m6Z1/V7jmSttVtUGOMaSVoIMRRkKMhQkKEgQ0GGggwFGQoyFGQoyFCQoSBDQYaCDAUZCjIUZCjIUJChIENB8xjxjmxtvKJC4i1TFDgeT5co0CJvP/T1IENBhoIMBRkKMhRkKMhQkKEgQ0GGggwFGQoyFGQoyFCQoSBDQYaCDAUZCjIUZChojhL9EQX+Y+49kpQMoFUyh1ZfDzIUZCjIUJChIENBhoIMBRkKMhRkKMhQkKEgQ0GGggwFGQoyFGQoyFCQoSBDQUW7Xo1tG89I8gM50xzViy+KAwAAAABJRU5ErkJggg==');
      }
    }
    &>.container {
      position: relative;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  h1, .h1 {
    color: $color-white;
  }
  @include media-breakpoint-up(lg) {
    &__wrapper {
      height: 250px;
    }
  }
  @include media-breakpoint-up(xl) {
    &__wrapper {
      height: 300px;
    }
  }
  @include media-breakpoint-up(xxl) {
    &__wrapper {
      height: 400px;
    }
  }
}

.form {
  background: $primary-color;
  color: $color-white;
  padding: 24px 30px 30px 30px;
  max-width: 1010px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  &__legend {
    color: $color-white;
  }
  .btn {
    max-width: 330px;
    margin: 0 auto;
  }
  .field-checkbox {
    max-width: 310px;
    margin-bottom: 27px;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: -90px;
    padding: 24px 40px 34px 40px;
    &__wrapper {
      display: flex;
      &>* {
        &:first-child {
          width: 240px;
          flex-shrink: 0;
          margin-right: 20px;
        }
        &:last-child {
          flex-grow: 1;
        }
      }
    }
    textarea {
      max-height: 160px;
    }
    &__bottom {
      display: flex;
      align-items: center;
      margin-top: -5px;
      &>* {
        &:first-child {
          flex-grow: 1;
        }
        &:last-child {
          flex-shrink: 0;
        }
      }
      .form-group {
        margin-bottom: 0;
      }
    }
    .field-checkbox {
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-up(lg) {
    padding: 38px 50px 34px 50px;
    &__wrapper {
      display: flex;
      &>* {
        &:first-child {
          width: 310px;
        }
      }
    }
    .field-checkbox {
      max-width: inherit;
    }
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: -217px;
  }
  @include media-breakpoint-up(xxl) {
    margin-bottom: -290px;
  }
}

.insta {
  margin-bottom: 70px;
  position: relative;
  overflow: hidden;
  &-carousel {
    background: $primary-color;
    .slick-slide {
      width: 173px;
      img {
        width: 100%;
        height: 173px;
        object-fit: cover;
        display: block;
        transform: translateX(-50%);
      }
    }
  }
  &__block {
    width: 100%;
    position: absolute;
    height: 0;
    &-block {
      position: absolute;
      width: 173px;
      height: 173px;
      background: $primary-color;
      left: 50%;
      transform: translateX(-100%);
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-white;
      text-align: center;
      font-size: 12px;
      text-transform: uppercase;
      i {
        font-size: 50px;
        margin: 0 auto 8px;
        display: block;
      }
      a {
        text-decoration: none;
        color: $color-white;
      }
      &>div {
        margin-bottom: 10px;
      }
    }
  }
  &__btns {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    button {
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      position: absolute;
      left: 50%;
      margin-top: -50px;
      cursor: pointer;
      &::before {
        font-family: $font-icomoon;
      }
    }
    &-left {
      transform: translateX(0%);
      background: $primary-color;
      color: $color-white;
      &::before {
        content: '\e901';
      }
    }
    &-right {
      color: $primary-color;
      background: $color-white;
      transform: translateX(-100%);
      &::before {
        content: '\e902';
      }
    }
  }
  @include media-breakpoint-up(md) {
    &-carousel {
      .slick-slide {
        width: 200px;
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
    &__block {
      &-block {
        font-size: 14px;
        width: 200px;
        height: 200px;
        i {
          font-size: 75px;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 100px;
    &-carousel {
      .slick-slide {
        width: 237px;
        img {
          width: 237px;
          height: 237px;
        }
      }
    }
    &__block {
      &-block {
        font-size: 20px;
        width: 237px;
        height: 237px;
        i {
          margin-bottom: 11px;
        }
        &>div {
          margin-bottom: 0;
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 120px;
    &-carousel {
      .slick-slide {
        width: 320px;
        img {
          width: 320px;
          height: 320px;
        }
      }
    }
    &__block {
      &-block {
        font-size: 20px;
        width: 320px;
        height: 320px;
        i {
          font-size: 125px;
          margin-bottom: 22px;
        }
        a {
          opacity: 1;
          transition: all 0.35s;
          &:hover {
            opacity: 0.3;
          }
        }
      }
    }
    &__btns {
      button {
        transition: all 0.35s;
      }
      &-left {
        &:hover {
          color: $primary-color;
          background: $color-white;
        }
      }
      &-right {
        &:hover {
          background: $primary-color;
          color: $color-white;
        }
      }
    }
  }
}

.main-blocks {
  position: relative;
  &__bottom {
    background: $primary-color;
    text-align: center;
    padding: 20px 25px 24px 25px;
    h1, .h1 {
      color: $color-white;
      margin: 0;
      font-size: 26px;
      font-family: $font-playfair;
      line-height: 1.2;
      letter-spacing: 0.05em;
      small {
        font-family: $font-oswald;
        font-size: 18px;
        display: block;
        line-height: 1.5;
        letter-spacing: 0.1em;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    background: $primary-color;
    &-img {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: $color-white;
      padding: 30px 15px 25px 15px;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.05em;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: $primary-color;
        opacity: 0.6;
        transition: all 0.35s;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: none;
        object-position: center;
      }
      .span {
        position: relative;
        z-index: 10;
        max-width: 160px;
        b {
          display: block;
          font-size: 20px;
          font-weight: 200;
        }
      }
      &:hover {
        color: $color-white;
        &::before {
          opacity: 0.8;
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    &__bottom {
      h1, .h1 {
        font-size: 35px;
        small {
          letter-spacing: 0.2em;
        }
      }
    }
    &__list {
      &-img {
        img {
          object-fit: cover;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    &__list {
      flex-direction: row;
      &>* {
        width: 33.3%;
      }
      &-img {
        min-height: 121px;
        .span {
          max-width: 160px;
        }
      }
    }
    &__bottom {
      position: absolute;
      background: 0 0;
      top: 110px;
      left: 0;
      right: 0;
      padding: 0 15px;
      h1, .h1 {
        font-size: 40px;
        small {
          font-size: 20px;
          margin-top: 5px;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__list {
      &-img {
        min-height: 161px;
        font-size: 14px;
        .span {
          max-width: 211px;
          b {
            font-size: 26px;
          }
        }
      }
    }
    &__bottom {
      top: 160px;
      h1, .h1 {
        font-size: 50px;
        small {
          font-size: 25px;
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__list {
      &-img {
        min-height: 200px;
        font-size: 18px;
        .span {
          max-width: 260px;
          b {
            font-size: 30px;
          }
        }
      }
    }
    &__bottom {
      top: 175px;
      h1, .h1 {
        font-size: 70px;
        small {
          font-size: 30px;
          margin-top: 7px;
        }
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    &__list {
      &-img {
        min-height: 300px;
        font-size: 25px;
        .span {
          max-width: 398px;
          b {
            font-size: 40px;
          }
        }
      }
    }
    &__bottom {
      top: 230px;
      h1, .h1 {
        font-size: 110px;
        small {
          font-size: 45px;
          margin-top: 10px;
        }
      }
    }
  }
}