/* breadcrumb */
.breadcrumbs {
  $this: &;
  margin: 0;
  padding: 0;
  font-size: 13px;
  flex-wrap: wrap;
  color: $color-d-6;
  display: none;
  justify-content: center;
  letter-spacing: 0.05em;
  white-space: nowrap;
  color: rgba($color-white,.7);
  padding-top: 10px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  &::before {
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background: rgba($color-white,.2);
    width: 286px;
    content: '';
  }
  &__item {
    list-style: none;
    margin: 0 0 5px 0;
    &+#{$this}__item {
      margin-left: 10px;
      &::before {
        content: '/';
        margin-right: 10px;
      }
    }
    &>a,&>span {
      display: inline-block;
      line-height: 14px;
      text-decoration: none;
      position: relative;
    }
    &>a {
      color: rgba($color-white,.4);
      padding-right: 10px;
      color: rgba($color-white,.4);
      &::before {
        content: '\e913';
        position: absolute;
        font-family: $font-icomoon;
        right: 0;
        font-size: 5px;
        top: 6px;
        line-height: 1;
      }
    }
    &:first-child {
      &>a {
        padding-right: 0;
        &::before {
          display: none;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    display: flex;
  }
  @include media-breakpoint-up(xl) {
    &__item {
      &>a {
        &:hover {
          color: $color-white;
        }
      }
    }
  }
}