/* buttons */

button {
  @include button-reset;
  &:focus {
    outline: none;
  }
}

.btn {
  height: 50px;
  min-width: 210px;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  color: $color-white;
  text-align: center;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.15em;
  font-size: 16px;
  transition: all 0.35s;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  span {
    position: relative;
    z-index: 5;
  }
  &:hover {
    background-color: $color-white;
    color: $primary-color;
  }
  &.--white {
    background-color: $color-white;
    color: $primary-color;
    &::before {
      content: '';
      background: linear-gradient(270deg, #302F33 25%, rgba(48, 47, 51, 0) 100%);
      opacity: 0.08;
      position: absolute;
      width: 55%;
      top: -10px;
      bottom: -10px;
      left: -10px;
      transform: skewX(-30deg);
      transition: all 0.35s;
    }
    &:hover {
      background-color: $primary-color;
      border-color: $color-white;
      color: $color-white;
      &::before {
        background: linear-gradient(270deg, #FFFFFF 25%, rgba(255, 255, 255, 0) 100%);
      }
    }
  }
  &.--block {
    display: block;
    width: 100%;
  }
}
a.btn {
  display: inline-block;
  line-height: 50px;
  text-decoration: none;
}

.btn-filter {
  display: block;
  width: 100%;
  margin: 0 auto 40px;
  position: relative;
  border: 1px solid rgba($primary-color,.1);
  padding: 0 60px 0 64px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  line-height: 26px;
  &::before, &::after {
    position: absolute;
    content: '\e921';
    font-family: $font-icomoon;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
    left: 28px;
  }
  &::after {
    font-size: 10px;
    left: auto;
    right: 26px;
    content: '\e902';
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
}