/* forms */
input, textarea {
  &::-webkit-input-placeholder {
    color: $primary-color;
    font-weight: 300;
    font-size: 14px;
    .--dark & {
      color: $color-white;
    }
  }
  &::-moz-placeholder {
    color: $primary-color;
    font-weight: 300;
    font-size: 14px;
    .--dark & {
      color: $color-white;
    }
  }
  &:-ms-input-placeholder {
    color: $primary-color;
    font-weight: 300;
    font-size: 14px;
    .--dark & {
      color: $color-white;
    }
  }
  &:-moz-placeholder {
    color: $primary-color;
    font-weight: 300;
    font-size: 14px;
    .--dark & {
      color: $color-white;
    }
  }
}

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  outline: none;
  &:hover, &:focus, &:active {
    outline: none;
  }
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  outline: none;
}

.form-group {
  margin-bottom: 20px;
}

.errormsg {
  display: inline-block;
  min-height: 50px;
  position: relative;
  margin: 0 0 20px;
  padding: 16px 10px 15px 13px;
  font-size: rem(14px);
  line-height: 18px;
  text-align: left;
  color: #4D4D4D;
  box-shadow: 0 4px 10px rgba($color-black,.25);
  border-left: 3px solid transparent;
  min-width: 250px;
  &::before {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 9px;
    font-size: rem(22px);
    font-family: $font-icomoon;
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.--white {
    padding: 15px 10px;
    background-color: $color-white;
  }
  &.--warning {
    background-color: #FFF1E8;
    color: $color-d-3;
    border-left-color: #FF7519;
  }
  &.--success {
    background-color: #F1F8E6;
    color: #76BB08;
    border-left-color: #76BB08;
  }
  &.--error {
    background-color: #FFEBED;
    color: $color-s-1;
    border-left-color: $color-s-1;
  }
  &.--info {
    background-color: #EAF1F7;
    color: #2B6EA8;
    border-left-color: #2B6EA8;
  }
  &.--block {
    width: 100%;
    display: block;
  }
}

legend {
  font-size: 20px;
  display: block;
  border: 0;
  line-height: 1.5;
  margin-bottom: 22px;
  color: $primary-color;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.field-text {
  position: relative;
  margin-bottom: 0;
  display: block;
  $this: &;
  &__name {
    color: $color-d-6;
    font-size: rem(14px);
    line-height: 18px;
    cursor: text;
    display: block;
    margin-bottom: 11px;
    font-weight: 400;
    sup {
      color: $color-red;
      top: -3px;
      margin-left: 2px;
    }
    &.css-label {
      position: absolute;
      top: 16px;
      left: 10px;
      transition: all 0.2s;
      z-index: 1;
      margin: 0;
      font-size: rem(15px);
      pointer-events: none;
      color: $color-d-6;
      white-space: nowrap;
    }
  }
  &__input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 15px;
    font-size: 16px;
    line-height: 1.42857143;
    color: $primary-color;
    background: {
      color: $color-gray;
      repeat: no-repeat;
      position: calc(100% - 16px) center;
      size: 15px 15px;
    }
    border: 1px solid transparent;
    border-radius: 0px;
    box-shadow: none;
    font-weight: 400;
    transition: color 0.35s, border 0.35s, background 0.35s;
    letter-spacing: 0.05em;
    caret-color: $primary-color;
    &:hover {
      border-color: $primary-color;
      background-color: $color-white;
      &.error {
        border-color: $color-s-1;
      }
      .--dark & {
        border-color: rgba($color-white,.3);
        &.error {
          border-color: $color-s-1;
        }
      }
    }
    &.error {
      border-color: $color-s-1;
      background-color: $color-white;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7609 11.5834L9.0275 1.65289C8.70869 1.1007 8.13767 0.770996 7.49999 0.770996C6.86235 0.770996 6.29129 1.1007 5.97249 1.65289L0.239128 11.5834C-0.0797093 12.1356 -0.0797093 12.795 0.239128 13.3472C0.557965 13.8994 1.12896 14.2291 1.76663 14.2291H13.2334C13.871 14.2291 14.442 13.8994 14.7609 13.3472C15.0797 12.795 15.0797 12.1356 14.7609 11.5834ZM13.9998 12.9078C13.8398 13.1849 13.5533 13.3503 13.2334 13.3503H1.76663C1.44665 13.3503 1.16013 13.1849 1.00017 12.9078C0.840211 12.6307 0.840211 12.2999 1.00017 12.0228L6.73359 2.09231C6.89355 1.81522 7.18007 1.64981 7.50002 1.64981C7.81994 1.64981 8.10649 1.81522 8.26646 2.09231L13.9998 12.0228C14.1598 12.2999 14.1598 12.6307 13.9998 12.9078Z' fill='%23EB5757'/%3E%3Cpath d='M7.93933 5.15649H7.06055V9.5505H7.93933V5.15649Z' fill='%23EB5757'/%3E%3Cpath d='M7.50007 10.4294C7.17701 10.4294 6.91418 10.6923 6.91418 11.0153C6.91418 11.3384 7.17701 11.6012 7.50007 11.6012C7.82309 11.6012 8.08595 11.3384 8.08595 11.0153C8.08595 10.6923 7.82312 10.4294 7.50007 10.4294Z' fill='%23EB5757'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      padding-right: 45px;
      &+label {
        color: $color-s-1;
        font-size: rem(12px);
        margin: 0;
        padding-left: 0px;
        font-weight: 300;
        position: absolute;
      }
      .--dark & {
        background-color: transparent;
      }
    }
    &.css-input {
      padding-top: 20px;
      font-size: rem(15px);
      &::-webkit-input-placeholder {
        color: transparent;
      }
      &::-moz-placeholder {
        color: transparent;
      }
      &:-ms-input-placeholder {
        color: transparent;
      }
      &:-moz-placeholder {
        color: transparent;
      }
    }
    .--dark & {
      background-color: rgba($color-white,.03);
      color: $color-white;
      caret-color: $color-white;
    }
  }
  &__input-wrap {
    position: relative;
    display: block;
  }
  &__help-text {
    font-size: rem(14px);
    display: block;
    padding-top: 5px;
    font-style: normal;
    color: $color-d-5;
  }
  &.--has-icon {
    #{$this} {
      &__input {
        padding-right: 40px;
        &~[class*="icon-"] {
          font-size: rem(20px);
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          color: $color-black;
          pointer-events: none;
        }
      }
    }
  }
  &.has-error {
    #{$this} {
      &__help-text {
        color: $color-s-1;
      }
      &__input {
        padding-right: 45px;
        border-color: $color-s-1;
        background-color: $color-white;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7609 11.5834L9.0275 1.65289C8.70869 1.1007 8.13767 0.770996 7.49999 0.770996C6.86235 0.770996 6.29129 1.1007 5.97249 1.65289L0.239128 11.5834C-0.0797093 12.1356 -0.0797093 12.795 0.239128 13.3472C0.557965 13.8994 1.12896 14.2291 1.76663 14.2291H13.2334C13.871 14.2291 14.442 13.8994 14.7609 13.3472C15.0797 12.795 15.0797 12.1356 14.7609 11.5834ZM13.9998 12.9078C13.8398 13.1849 13.5533 13.3503 13.2334 13.3503H1.76663C1.44665 13.3503 1.16013 13.1849 1.00017 12.9078C0.840211 12.6307 0.840211 12.2999 1.00017 12.0228L6.73359 2.09231C6.89355 1.81522 7.18007 1.64981 7.50002 1.64981C7.81994 1.64981 8.10649 1.81522 8.26646 2.09231L13.9998 12.0228C14.1598 12.2999 14.1598 12.6307 13.9998 12.9078Z' fill='%23EB5757'/%3E%3Cpath d='M7.93933 5.15649H7.06055V9.5505H7.93933V5.15649Z' fill='%23EB5757'/%3E%3Cpath d='M7.50007 10.4294C7.17701 10.4294 6.91418 10.6923 6.91418 11.0153C6.91418 11.3384 7.17701 11.6012 7.50007 11.6012C7.82309 11.6012 8.08595 11.3384 8.08595 11.0153C8.08595 10.6923 7.82312 10.4294 7.50007 10.4294Z' fill='%23EB5757'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
      }
    }
    &.--dark {
      #{$this} {
        &__input {
          background-color: transparent;
        }
      }
    }
  }

  // &.has-success {
  //   #{$this} {
  //     &__input {
  //       padding-right: 45px;
  //     }
  //   }
  // }

  &.has-warning {
    #{$this} {
      &__help-text {
        color: #ff7519;
      }
      &__input {
        border-color: #ff7519;
      }
    }
  }
}

textarea.field-text__input {
  height: auto;
  resize: vertical;
  background-position: calc(100% - 10px) 12px;
  padding-top: 11px;
}

.field-checkbox, .field-radio {
  position: relative;
  padding-left: 34px;
  margin: 0;
  display: flex;
  text-decoration: none;
  min-height: 21px;
  $this: &;
  &__span-input {
    position: absolute;
    left: 0;
    top: 0;
    color: $primary-color;
    line-height: 1;
    font-size: 20px;
    border: 0;
    width: 20px;
    height: 20px;
    border-radius: 0;
    &::before {
      content: '\e904';
      font-family: $font-icomoon;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      position: absolute;
    }
    .--dark & {
      color: $color-white;
    }
  }
  &__label {
    line-height: 1.4;
    font-size: 12px;
    color: $primary-color;
    display: block;
    padding: 2px 0 0 0;
    cursor: pointer;
    font-weight: 300;
    a {
      display: inline-block;
    }
    .--dark & {
      color: $color-white;
      a {
        color: $color-white;
      }
    }
  }
  &__input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
    &:checked {
      &~#{$this} {
        &__span-input {
          color: $primary-color;
          &::before {
            content: '\e905';
          }
          .--dark & {
            color: $color-white;
          }
        }
      }
      &:disabled {
        &~#{$this} {
          &__span-input {
            background: $color-d-6;
            border-color: $color-d-6;
            &::before {
              color: $color-white;
            }
          }
        }
      }
    }
    &:disabled {
      &~#{$this} {
        &__span-input {
          background: $color-l-1;
          border-color: $color-l-1;
          &::before {
            color: $color-l-1;
          }
        }
        &__label {
          color: $color-d-6;
          cursor: default;
        }
      }
    }
  }

  &:focus, &:active {
    text-decoration: none;
  }
}

.field-checkbox {
  $this: &;
  &.checked {
    #{$this} {
      &__span-input {
        color: $color-white;
        border-color: $color-d-1;
        background: $color-d-1;
      }
      &__label {
        color: $color-d-5;
      }
    }
    &:hover {
      #{$this} {
        &__label {
          color: $color-d-5;
        }
      }
    }
    &[class*="disabled"] {
      #{$this} {
        &__span-input {
          background: $color-d-6;
          border-color: $color-d-6;
          &::before {
            color: $color-white;
          }
        }
      }
    }
  }
  &.disabled {
    cursor: default;
    #{$this} {
      &__span-input {
        background: $color-l-1;
        border-color: $color-l-1;
        &::before {
          color: $color-l-1;
        }
      }
      &__label {
        color: $color-d-6;
        cursor: default;
      }
    }
    &:hover {
      #{$this} {
        &__label {
          color: $color-d-6;
          cursor: default;
        }
      }
    }
  }
}

.field-radio {
  $this: &;
  &__span-input {
    border-radius: 50%;
    &::before {
      width: 18px;
      height: 18px;
      content: '';
      top: 2px;
      border-radius: 50%;
      background: $color-white;
    }
  }
  &__input {
    &:checked {
      &~#{$this} {
        &__span-input {
          &::before {
            background: $color-d-1;
          }
        }
      }
    }
    &:disabled {
      &~#{$this} {
        &__span-input {
          background: $color-l-1;
          border-color: $color-l-1;
          &::before {
            color: $color-l-1;
            background: $color-l-1;
          }
        }
        &__label {
          color: $color-d-6;
          cursor: default;
        }
      }
    }
  }
  &:hover {
    text-decoration: none;
    #{$this} {
      &__label {
        color: $color-d-1;
      }
      &__input {
        &:checked {
          &~#{$this} {
            &__label {
              color: $color-d-5;
            }
          }
        }
        &:disabled {
          &~#{$this} {
            &__label {
              color: $color-d-6;
            }
          }
        }
      }
    }
  }

  &.checked {
    #{$this} {
      &__span-input {
        &::before {
          background: $color-d-1;
        }
      }
    }
    &:hover {
      #{$this} {
        &__label {
          color: $color-d-5;
        }
      }
    }
  }
  &.disabled {
    cursor: default;
    #{$this} {
      &__span-input {
        background: $color-l-1;
        border-color: $color-l-1;
        &::before {
          color: $color-l-1;
          background: $color-l-1;
        }
      }
      &__label {
        color: $color-d-6;
        cursor: default;
      }
    }
    &:hover {
      #{$this} {
        &__label {
          color: $color-d-6;
          cursor: default;
        }
      }
    }
  }
}

.field-select {
  position: relative;
  margin-bottom: 0;
  display: block;
  $this: &;
  &__name {
    color: $color-d-6;
    font-size: rem(14px);
    line-height: 18px;
    cursor: text;
    display: block;
    margin-bottom: 11px;
    font-weight: 400;
    sup {
      color: $color-red;
      top: -3px;
      margin-left: 2px;
    }
    &.css-label {
      position: absolute;
      top: 16px;
      left: 10px;
      transition: all 0.2s;
      z-index: 1;
      margin: 0;
      font-size: rem(15px);
      pointer-events: none;
      color: $color-d-6;
      white-space: nowrap;
      opacity: 0;
      display: none;
    }
  }
  &__select {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 36px 6px 10px;
    line-height: 1.42857143;
    color: $color-d-5;
    background: {
      color: $color-white;
      repeat: no-repeat;
      position: calc(100% - 10px) center;
      image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTMuMjkyODkgNi4yOTI4OUMzLjY4MzQyIDUuOTAyMzcgNC4zMTY1OCA1LjkwMjM3IDQuNzA3MTEgNi4yOTI4OUwxMCAxMS41ODU4TDE1LjI5MjkgNi4yOTI4OUMxNS42ODM0IDUuOTAyMzcgMTYuMzE2NiA1LjkwMjM3IDE2LjcwNzEgNi4yOTI4OUMxNy4wOTc2IDYuNjgzNDIgMTcuMDk3NiA3LjMxNjU4IDE2LjcwNzEgNy43MDcxMUwxMC43MDcxIDEzLjcwNzFDMTAuMzE2NiAxNC4wOTc2IDkuNjgzNDIgMTQuMDk3NiA5LjI5Mjg5IDEzLjcwNzFMMy4yOTI4OSA3LjcwNzExQzIuOTAyMzcgNy4zMTY1OCAyLjkwMjM3IDYuNjgzNDIgMy4yOTI4OSA2LjI5Mjg5WiIgZmlsbD0iYmxhY2siLz48L3N2Zz4=);
      size: 17px 17px;
    }
    border: 1px solid $color-d-8;
    border-radius: 4px;
    box-shadow: none;
    transition: color 0.35s, border 0.35s, background 0.35s;
    appearance: none;
    font-size: rem(15px);
    option, optgroup {
      font-size: rem(15px);
    }
    &:hover {
      border-color: $color-d-5;
    }
    &::-ms-expand {
      display: none;
    }
    &.css-input {
      padding-top: 6px;
      transition: none;
    }
  }
  &__select-wrap {
    position: relative;
    display: block;
  }
  &__help-text {
    font-size: rem(14px);
    display: block;
    padding-top: 5px;
    font-style: normal;
    color: $color-d-5;
  }

  &.has-error {
    #{$this} {
      &__help-text {
        color: $color-s-1;
      }
      &__select {
        border-color: $color-s-1;
      }
    }
  }

  &.active, &.active-full {
    #{$this} {
      &__name {
        color: #8D8D8D;
        &.css-label {
          top: 7px;
          font-size: rem(10px);
          line-height: 1;
          display: block;
          opacity: 1;
          z-index: 9;
        }
      }
      &__select {
        &.css-input {
          padding-top: 20px;
        }
      }
    }
  }

  &.--md {
    #{$this} {
      &__name {
        font-size: rem(14px);
        margin-bottom: 9px;
        &.css-label {
          top: 10px;
          left: 10px;
          font-size: rem(14px);
          margin-bottom: 0;
        }
      }
      &__select {
        height: 40px;
        font-size: rem(15px);
        &.css-input {
          font-size: rem(15px);
          margin-bottom: 0;
        }
      }
    }

    &.active, &.active-full {
      #{$this} {
        &__select {
          &.css-input {
            padding-top: 15px;
          }
        }
      }
    }
  }
  &.--sm {
    #{$this} {
      &__name {
        font-size: rem(12px);
        margin-bottom: 6px;
        &.css-label {
          left: 10px;
          top: 6px;
          font-size: rem(12px);
        }
      }
      &__select {
        height: 30px;
        font-size: rem(14px);
        padding-top: 4px;
        &.css-input {
          font-size: rem(14px);
        }
      }
    }

    &.active, &.active-full {
      #{$this} {
        &__select {
          &.css-input {
            padding-top: 0px;
          }
        }
      }
    }
  }
}

.form-small {
  font-size: rem(12px);
  color: $color-d-6;
}