/* menu */
[role="navigation"] {
  ul {
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;
        margin: 0;
    }
  }
}
  
.navigation {
  position: fixed;
  top: 77px;
  width: 270px;
  right: 0;
  bottom: 0;
  z-index: 170;
  // overflow: auto;
  text-align: center;
  transition: all .35s;
  text-align: left;
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  &.is-active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
  }
  &__wrapper {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: -10px 4px 15px rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(10px);
    left: 0px;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0px 10px 30px rgba($primary-color,.1);
    overflow: auto;
    &-body {
      padding: 23px 30px;
      overflow: auto;
      min-height: 100%;
      height: auto;
      position: relative;
    }
  }
  &__contacts {
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    bottom: 23px;
    border-top: 1px solid rgba($color-black,.1);
    padding-top: 20px;
    right: 30px;
    left: 30px;
    a {
      text-decoration: none;
      &[href*="tel:"] {
        font-size: 20px;
      }
      b {
        font-weight: 500;
      }
    }
    &>div {
      &.div2 {
        position: relative;
        padding-top: 10px;
      }
    }
  }
  &__social {
    font-size: 0;
    padding-top: 4px;
    i {
      font-size: 25px;
      &.icon-social-facebook {
        font-size: 24px;
      }
    }
    a {
      vertical-align: middle;
      display: inline-block;
      &+a {
        margin-left: 13px;
      }
    }
  }
  &__body {
    margin-bottom: 137px;
    font-weight: 300;
  }
  &__about {
    border-top: 1px solid rgba($color-black,.1);
    padding-top: 20px;
    margin-bottom: 24px;
    font-size: 14px;
  }
  &__title {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
  }
  &.is-scroll {
    top: 60px;
  }
  @include media-breakpoint-up(xs480) {
    width: 280px;
  }
  @include media-breakpoint-up(xl) {
    &__social, &__contacts {
      a {
        opacity: 1;
        transition: all 0.5s;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

.btn-close {
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  background: $primary-color;
  color: $color-white;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  &::before {
    content: '\e906';
    font-family: $font-icomoon;
    line-height: 1;
  }
}

.menu {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
  ul {
    li {
      padding-left: 0;
      margin-bottom: 15px;
      &::before {
        display: none;
      }
      &>a, &>span {
        display: block;
        text-decoration: none;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    ul {
      li {
        &>a {
          opacity: 1;
          transition: all 0.5s;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

ul.catalog-menu {
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
  text-align: left;
  font-size: 18px;
  li {
    margin: 0;
    padding: 0 0 0 24px;
    &:before {
      display: none !important;
    }
  }
  > li {
    margin: 0 0 10px 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    color: $primary-color;
    text-decoration: none !important;
    &:focus {
      color: $primary-color;
      text-decoration: none !important;
    }
    &:hover, &.active {
      color: rgba($primary-color,.7);
    }
  }
  .li-name {
    font-weight: 400;
    position: relative;
  }
  .arrow {
    width: 24px;
    height: 24px;
    line-height: 17px;
    position: absolute;
    left: -24px;
    top: 2px;
    cursor: pointer;
    &::before {
      content: '\e90b';
      font-family: $font-icomoon;
      font-size: 10px;
      line-height: 1;
    }
  }
  li {
    ul {
      display: none;
      margin: 0;
      line-height: 20px;
      padding: 14px 0 0px 0;
    }
    &.open {
      ul {
        display: block;
      }
    }
    ul > li {
      margin: 0 0 15px 0;
    }
    &.active {
      font-weight: bold;
    }
  }
}

.lk-navigation {
  letter-spacing: 0.05em;
  font-weight: 300;
  &__head {
    margin-bottom: 5px;
    position: relative;
    padding-left: 20px;
    font-weight: 400;
    &::before {
      content: '\e90b';
      font-family: $font-icomoon;
      position: absolute;
      left: 0;
      top: 11px;
      font-size: 10px;
    }
  }
  ul {
    li {
      margin-bottom: 10px;
      padding-left: 20px;
      position: relative;
      &.last {
        margin-top: 30px;
      }
      &::before {
        display: none;
      }
      &>a, &>span {
        text-decoration: none;
      }
      &.active {
        font-weight: 400;
        &::before {
          display: block;
          content: '\e90b';
          font-family: $font-icomoon;
          position: absolute;
          left: 0;
          top: 11px;
          font-size: 10px;
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {}
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {}
  @include media-breakpoint-up(xl) {
    ul {
      li {
        &>a {
          opacity: 1;
          transition: all 0.5s;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(xxl) {}
}

.catalog-navigation {
  position: fixed;
  top: 112px;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 150;
  // overflow: auto;
  text-align: center;
  transition: all .35s;
  text-align: left;
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  &.is-active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
  }
  &__wrapper {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: -10px 4px 15px rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(10px);
    left: 0px;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0px 10px 30px rgba($primary-color,.1);
    overflow: auto;
    &-body {
      padding: 23px 30px;
      overflow: auto;
      min-height: 100%;
      height: auto;
      position: relative;
    }
  }
  &.is-scroll {
    top: 95px;
  }
  .nav {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 5px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      height: 60px;
      left: 0;
      right: 0;
      background: rgba($primary-color, 0.1);
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.02);
      backdrop-filter: blur(20px);
    }
    ul {
      display: flex;
      margin-bottom: 0;
      li {
        position: relative;
        padding: 0;
        &::before {
          display: none;
        }
        &>a, &>span {
          display: block;
          height: 60px;
          line-height: 60px;
          text-decoration: none;
          padding: 0 17px;
          position: relative;
          &::before {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            transform-origin: 50%;
            bottom: -4px;
            background: $primary-color;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;
          }
          &.active {
            color: $color-white;
            background: $primary-color;
            &::before {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
  .tab-pane {
    nav {
      font-weight: 400;
      font-size: 20px;
      padding: 20px 15px;
    }
    ul {
      margin: 0;
      li {
        list-style: none;
        padding-left: 0;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        &::before {
          display: none;
        }
        &>a, &>span {
          text-decoration: none;
        }
      }
      ul {
        margin-top: 10px;
        li {
          &::before {
            font-family: $font-icomoon;
            content: '\e90b';
            display: inline-block;
            margin-right: 10px;
            position: relative;
            top: -3px;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    top: 88px;
    &.is-scroll {
      top: 60px;
    }
  }
  @include media-breakpoint-up(md) {
    .tab-pane {
      ul {
        column-count: 2;
      }
      nav {
        font-size: 16px;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .tab-pane {
      ul {
        column-count: 3;
        white-space: nowrap;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    opacity: 1;
    visibility: visible;
    transition: none;
    transform: none;
    bottom: auto;
    top: 89px;
    &__wrapper {
      position: relative;
    }
    &__body {
      max-width: 1200px;
      padding: 0 15px;
      margin: 0 auto;
    }
    .nav {
      display: none;
    }
    .tab-pane {
      ul {
        column-count: 4;
      }
      nav {
        padding: 30px 0;
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    &__body {
      max-width: 1560px;
    }
    .tab-pane ul li>a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}