/* pagination */
.pagination {
  $this: &;
  font-size: rem(16px);
  text-align: center;
  margin-bottom: 0px;
  font-weight: 500;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    &>li {
      list-style: none;
      margin: 0;
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
      padding: 0;
      flex-shrink: 0;
      &::before {
        display: none;
      }
      &#{$this} {
        &__prev, &__next {
          font-size: rem(14px);
          &>a, &>span {
            border-color: transparent;
            &::before {
              font-family: $font-icomoon;
              vertical-align: 0;
              line-height: 1;
              display: inline-block;
            }
          }
        }
        &__prev {
          margin-right: 0px;
          &>a, &>span {
            &::before {
              content: '\e901';
            }
          }
        }
        &__next {
          margin-left: 6px;
          &>a, &>span {
            &::before {
              content: '\e902';
            }
          }
        }
      }
      &+li {
        margin-left: 0px;
      }
      &>a, &>span {
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: $color-black;
        text-decoration: none;
        border-radius: 0;
        border: 1px solid transparent;
        background: $color-white;
        transform: translateY(0px);
        position: relative;
        z-index: 1;
        overflow: hidden;
        vertical-align: middle;
      }
      &>a {
        &:hover {
          z-index: 2;
          background: $color-white;
          color: $primary-color;
          border-color: rgba($primary-color,.5);
          transform: translateY(0px);
        }
      }
      &.active {
        &>a, &>span {
          background: $primary-color;
          color: $color-white;
          border-color: $primary-color;
        }
      }
      &.disabled {
        display: none;
        &>a, &>span {
          cursor: auto;
          border-color: $color-l-2;
          color: $color-l-2;
          box-shadow: none;
          transform: translateY(0);
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    ul {
      &>li {
        &+li {
          margin-left: 6px;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {}
  @include media-breakpoint-up(xl) {}
  @include media-breakpoint-up(xxl) {}
}